salt_master:
  lookup:
    domain: salt.mitx.mit.edu
    saltpad:
      install_dir: /var/www/saltpad
      version: v0.2
      server_name: null
  ssl:
    cert_path: /etc/salt/ssl/certs/salt.yourdomain.com.crt
    key_path: /etc/salt/ssl/certs/salt.yourdomain.com.key
    cert_params:
      emailAddress: your@name.com
      bits: 4096
      CN: salt.yourdomain.com
      ST: MA
      L: Boston
      O: Your Company
      OU: Your Department
  extra_configs:
    extfs:
      fileserver_backends:
        - git
        - roots
      git_remotes:
        - https://github.com/blarghmatey/nginx-formula
    ext_pillar:
      name: ext_pillar
      params:
        reclass:
          inventory_base_uri: /etc/reclass
  minion_configs:
    extra_settings:
      nested: False
      id: secretary
  api_users:
    - name: apiadmin
      password: 'Ch@ng3m3!'
      permissions:
        - '.*'
        - '@runner'
        - '@wheel'
        - '@jobs'
