{% set master = salt['grains.filter_by']({
    'default': {
        'domain': 'salt.your.company.com',
        'pip_deps': [
            'GitPython',
            'apache-libcloud',
        ],
        'services': [
            'salt-api',
            'salt-master',
            'salt-minion'
        ],
        'conf_file': '/etc/master/master.conf',
        'nginx_config_path': '/etc/nginx/sites-enabled',
        'api_users': [
            {
                'name': 'apiadmin',
                'password': 'Ch@ng3m3!',
                'permissions': [
                    '.*',
                    '@runner',
                    '@wheel',
                    '@jobs'
                ]
            }
        ],
    },
    'Debian': {
        'pkgs': [
            'libssl-dev',
            'build-essential',
            'salt-doc',
            'salt-api',
            'salt-cloud',
            'reclass',
            'git',
            'python-dev',
            'python-pip',
            'libffi-dev',
        ],
    },
    'RedHat': {
        'pkgs': [
            'libssl-devel',
            'gcc',
            'make',
            'salt-doc',
            'salt-api',
            'salt-cloud',
            'reclass',
            'git',
            'python-devel',
            'python-pip',
            'libffi-devel',
        ],
    },
}, grain='os_family', merge=salt.pillar.get('salt_master:lookup'), base='default') %}

{% set master_ssl = salt['grains.filter_by']({
    'default': {
        'cert_path': '/etc/salt/ssl/certs/localhost.crt',
        'key_path': '/etc/salt/ssl/certs/localhost.key',
        'cert_source': False,
        'key_source': False
    }
}, grain='os_family', merge=salt.pillar.get('salt_master:ssl')) %}

{% set master_aws = salt['grains.filter_by']({
    'default': {
        'providers': [
            {
            'name': 'aws_provider',
            'id': 'use-instance-role-credentials',
            'key': 'use-instance-role-credentials',
            'keyname': 'salt-master',
            'private_key_path': '/etc/salt/keys/aws',
            }
        ],
        'pip_deps': [
            'boto'
        ]
    }
}, grain='os_family', merge=salt.pillar.get('salt_master:aws', {})) %}
